<h1>Features</h1>
<h3>TODO:</h3>
<dl>
  <dt>drafts:post[blog_name] N=quantity EVERY=time SORT=randomly</dt>

  <dt>queue:refill[blog_name] N=quantity SORT=randomly</dt>

  <dt>posts:delete[blog_name] N=quantity</dt>
  <dt>posts:move[blog_name] DESTINATION=blog_name N=quantity</dt>

</dl>
